.landingPageDiv {
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.usrSubmitBtn,
.adminPageBtn {
    border: none;
    color: white;
    width: 200px;
    height: 50px;
    padding: 15px;
    margin: 30px;
    border-radius: var(--roundedBorder);
}

.usrSubmitBtn {
    background-color: var(--navyBlue)
}

.adminPageBtn {
    background-color: var(--babyBlue);
    color: var(--navyBlue);
}