.popupSubtitle,
.popupTitle {
    color: white;
    text-align: center;
}

.hideChoiceBtn,
.doneBtn {
    float: right;
    width: 100px;
    padding: 7.5px;
    margin: 10px;
    border-radius: var(--roundedBorder);
}

.hideChoiceBtn {
    color: white;
    background-color: var(--fadedNavy);
}

.doneBtn {
    color: var(--fadedNavy);
    background-color: var(--babyBlue);
}
