.subForm {
    position: relative;
    height: 400px;
    width: 400px;
    background-color: var(--navyBlue);
    color: white;
    border: solid var(--fadedNavy) 1.5px;
    border-radius: var(--roundedBorder);
}

.subForm span {
    display: block;
    text-align: center;
}

.subFormTitle {
    font-weight: bold;
}

.subFormdiv {
    margin-top: 15px;
    height: 40%;
    width: 100%;
    padding: 15px;
}

.subForm input {
    height: 100%;
    width: 100%;
    margin: 10px 0px;
    background-color: inherit;
    border: solid var(--fadedNavy) 1.5px;
    border-radius: var(--roundedBorder);
}

.subBtnContainer {
    width: 100%;
    display: flex;
    margin: 15px 0px;
    justify-content: center;
    text-align: center;
}
.subForm button {
    height: 30px;
    width: 200px;
    margin: 15px;
    color: white;
    font-weight: bold;
    border-radius: var(--roundedBorder);
    background-color: var(--fadedNavy);
    padding: 5px;
}

.subForm .submitButton {
    color: var(--navyBlue);
    background-color: var(--babyBlue);
}

.subFormDisclaimer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--fadedNavy);
    padding: 7.5px;
}
